  body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}
  .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }

  #weatherInfo{
    background-image:url(https://images.hdqwalls.com/wallpapers/clouds-summer-weather-5k-1b.jpg);
    background-size: cover;
    height: 400px;
    width: 550px;
    margin-top: 20px;
    padding-top: 30px;
  }